.container {
  width: 500px;
  height: 750px;
  border: 15px solid #1f829b75;
  border-radius: 10px;
  padding: 50px;
  margin: 0;
  margin-left: 550px;
}

.header {
  color: #7e7e7e;
  margin-left: 150px;
  margin-top: 5px;
}
.nav {
  top: 0;
  display: flex;
  width: 55vh;
  justify-content: center;
 
  background-color: #1f829b75;
  overflow: hidden;
  border-radius: 10px;

}

.nav a {
  color: #7e7e7e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  color: rgb(241, 219, 241);
}

.nav a.active {
  background-color: #1f829b75;
  color: white;
}
img {
  margin-top: 70px;
  width: 500px;
  height: 300px;
  border-radius: 10px;
}
p {
  font-size: small;
  text-align: center;
  color: #7e7e7e;
}

.skills {
font-size: small;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 30px;
  border-bottom: 10px;
}

.objective {
  font-size: small;
}
.item1 {
   grid-column: 1;
}
.item2 {
   grid-column: 2;
}
.item3 {
   grid-column: 3;
}
.item4 {
   grid-column: 1;
}
.item5 {
   grid-column: 2;
}
.item6 {
   grid-column: 3;
}
.item7 {
   grid-column: 1;
}
.item8 {
   grid-column: 2;
}

.jobs {
  font-size: small;
}

.education {
  font-size: small;
  margin-top: 20px;
  margin-top: 20px;
  border: 5px solid #1f829b75;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  
}

.certs {
  text-align: center;
}

.projects {
  margin-top: 20px;
  text-align: center;
  font-size: larger;
  color: #7e7e7e ;
}

.contact {
  margin-top: 20px;
  font-size: small;
}

.project-box {
  width: 450px;
  height: 100px;
  border: 5px solid #1f829b75;
  border-radius: 10px;
  padding: 50px;
  margin: 0;
  margin-left: -31px;
}

.social {
  margin-top: 20px;
  border: 5px solid #1f829b75;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
