.container {
  width: 500px;
  height: 1000px;
  border: 15px solid #918baa;
  padding: 50px;
  margin: 0;
  margin-left: 550px;
}

.header {
  top: 0;
  color: #7e7e7e;
  margin-left: 50px;
}
.nav {
  margin-top: 50px;
  background-color: #7e7e7e;
  overflow: hidden;
  
  width: 500px;
  text-align: center;
}

.nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: rgb(83, 83, 83);
}

.nav a.active {
  background-color: #918baa;
  color: white;
}
